.main1{
  height: 49vh;
  width: 49vw;
  position: absolute;
  left: 0;
  top:0;
  border: solid 3px lightblue;
}
.main2{
  height: 49vh;
  width: 49vw;
  position:absolute;
  top: 50vh;
  left: 0;
  border: solid 3px lightblue;
}
.main3{
  height: 32vh;
  width: 50vw;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 3px lightblue;
}
.main4{
  height: 33vh;
  width: 50vw;
  position: absolute;
  right: 0;
 top: 32vh;
 border: solid 3px lightblue;
}
.main5{
  height: 33vh;
  width: 50vw;
  position: absolute;
  right: 0;
  bottom: 0;
  border: solid 3px lightblue;
}
.text1{
text-align: center;
font-size: 70px;
position:relative;
top: 70px;
}
.text2{
  text-align: center;
  font-size: 70px;
  position:relative;
  top: 70px;
}
.text3{
  text-align: center;
  font-size: 50px;
  position:relative;
  top: 35px;
}
.text4{
  text-align: center;
  font-size: 50px;
  position:relative;
  top: 35px;
}
.text5{
  text-align: center;
  font-size: 50px;
  position:relative;
  top: 35px;
}
.title{
  text-align: center;
  font-size: 30px;
}
.input{
  text-align: center;
}
