body{
  background-image: url("../serene-pictures-wallpaper-4.jpg");
}
.main1{
  background-color: white;
  height: 30vh;
  width: 30vw;
  position: absolute;
  left: 0;
  top:30vh;
}
.main2{
  background-color: white;
  height: 30vh;
  width: 30vw;
  position:absolute;
  bottom: 0;
  left: 0;
}
.main3{
  background-color: white;
  height: 30vh;
  width: 30vw;
  position: absolute;
  right: 0;
  top: 30vh;
}
.main4{
  background-color: white;
  height: 30vh;
  width: 30vw;
  position: absolute;
  right: 0;
 bottom: 0;
}
.main5{
  background-color: white;
  height: 30vh;
  width: 33vw;
  position: absolute;
  right: 33vw;
  top: 0;
}
.main6{
  height: 60vh;
  width: 37vw;
  position: absolute;
  bottom: 3vh;
  right: 33vw;
}
.text1{
text-align: center;
font-size: 30px;
position:relative;
top: 50px;
}
.text2{
  text-align: center;
  font-size: 30px;
  position:relative;
  top: 50px;
}
.text3{
  text-align: center;
  font-size: 30px;
  position:relative;
  top: 50px;
}
.text4{
  text-align: center;
  font-size: 30px;
  position:relative;
  top: 50px;
}
.text5{
  text-align: center;
  font-size: 30px;
  position:relative;
  top: 50px;
}
.title{
  text-align: center;
  font-size: 30px;
}
.input{
  text-align: center;
}
